!!!
%html
  %head
    %title KuduUI Javascript Test Suite
    
  %body
    %h1
      KuduUI Javascript Test Suite
    %ul
      - @javascript_tests.each do |test|
        %li
          = link_to test.name, javascript_test_path(test.name)
      